body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.date {
	font-size: 11px;
	color: #aaa;
}

li {
	text-decoration: none;
	list-style: none;
}

.title {
	font-size: 15px;
}

i:hover {
	cursor: pointer;
	opacity: 0.7;
}
